<div class="container mt-5">
  <div class="row">
    <h1 class="mt-5">Task Manager</h1>
  </div>
  <div>
    <%= render 'task_form', task: @task %>
    <div class="col-md-6 mt-3">
      <% if notice.present? %>
        <div class="alert alert-success alert-sm mb-4" role="alert">
          <%= notice %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <% @tasks.each do |task| %>
      <%= form_for task, url: task_path(task), method: :patch do |f| %>
        <p>
          <%= f.text_field :description, class: 'form-control-lg' %>
          <span class="status">
            <%= f.select :status, options_for_select(Task.statuses.keys.map { |key| [key.humanize, key] }, task.status), class: 'form-select' %>
          </span>
          <%= f.submit 'Update', class: 'btn btn-secondary' %>
        </p>
      <% end %>
      <%= form_for task, url: task_path(task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } do |f| %>
        <%= f.submit 'Delete', class: 'btn btn-danger', style: 'margin-bottom: 10px;' %>
      <% end %>
    <% end %>
  </div>
</div>
